
<h1>My movies lists App</h1>


<a href="/signup">Sign Up</a>

<a href="/login">Log In</a>








            {{!-- <h1> Type name of Movie</h1>
            <form action="/movie-search" method="GET">
            <input type="text" name='movie' id='movie' placeholder="Movie Name">
            <button type="submit" id="searchBtn">Search</button>
            </form>
            <form action="/movie-search-id" method="GET">
            <input type="text" name='movieId' id='movieId' placeholder="Movie Id">
            <button type="submit" id="searchBtn">Search</button>
            </form>

            <br><br><br><br><br>


            {{#each results}}
                <div>
                {{> movieCard this}}
                </div>
            {{/each}} --}}
 
