<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<h1> Type name of Movie</h1>
<form action="/movie-search" method="GET">
<input type="text" name='movie' id='movie' placeholder="Movie Name">
<button type="submit" id="searchBtn">Search</button>
</form>