<div id="logInPage">
	<h1>Log In</h1>

	<form action="/login" method="POST">
		<label for="">Username: </label>
		<input type="text" name="username">
		<label for="">Password: </label>
		<input type="password" name="password" id="password">
		<button type="submit">Log In</button>
	</form>


	{{#if message}}
		<p style="color: red">{{message}}</p>
	{{/if}}


	<br><br><br>
	<a href="/" id="homeButton">Go to Home</a>

</div>


    {{!-- <img src='https://upload.wikimedia.org/wikipedia/commons/a/a3/Michigan_Theater_Concession_Stand.jpg' id="imgbox"> --}}

