body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

#addMovie {
  
  display: block;
  width: 85px;
  height: 20px;
  padding: 10px;
  background: rgb(199, 163, 4);
  color: #161515;
}

/* h1 {
 
} */

#landingPage{
  background-image: url("../images/Movie-App-Imgs/film-banner.png;");
}

#searchResults{
  
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

 width: 100vw;
 height: 100vh;
  
}



#result{

  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 20px;
  width: 20vw;
}

#searchResults > a{
 
 
  color: #15df58;

}

#result > h1{

font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
font-weight: bolder;
width: 300vw;
}

#signUp {
  color: #15df58;
}

#profileLink{
  display: block;
  width: 7vw;
  height: 20px;
  padding: 5px;
  margin: 10px;
  margin-right: 10px;

  background: rgb(187, 186, 182);
color: #131413;
}

#profileButton {
display: flex;
justify-content: end;
margin-left: 80vw;
}

#searchBar{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;

}

#profilePage{
  /* background-image: url("../images/Movie-App-Imgs/Cinema1.jpeg"); */
}